# macOS
.DS_Store

# Snakemake
.snakemake/

# Conda
*.conda
conda-meta/

# Logs
logs/
*.log

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Results
results/
results_backup/

# Visual
visual/*

# Temporary files
tmp/
temp/

# Databases
databases/

# Original data
data/original/

# Raw sequencing data
data/raw/

# IDE
.vscode/
