# macOS
.DS_Store

# Snakemake
.snakemake/

# Conda
*.conda
conda-meta/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Results
results/* 
!results/README.md
results_backup/

# Logs
logs/
!logs/
logs/*
!logs/README.md
*.log

# Visual
visual/* 
!visual/README.md

# Temporary files
tmp/
temp/

# Databases
databases/*
!databases/README.md

# Original data
data/original/

# Raw sequencing data
data/raw/

# IDE
.vscode/
